@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We have books.</a>.</p>
</div>-->

<!-- Showcase -->
    <section class="bg-dark text-light p-5 p-lg-3 pt-lg-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1> <span class="text-info">Welcome</span></h1>
                    <p class="lead my-4">
                        We have books here. Because it's a book store. And book stores sell books.
                    </p>
                    
                </div>
                
            </div>
        </div>
    </section>
