@inject Assignment11._4.Services.IData data
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Dependency injection</h1>
    <div>
        Products from injected service: (nothing becuase there is no list lol) @data.GetAll()
    </div>
</body>
</html>
